img{
    height: 100px;
    width: 100px;
    border: lavender;
}
h1{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
p{
    font-family: fantasy;
    font-weight: normal;
    font-size: small;
}
.list-group-item{
    font-weight: lighter;
    font-family: sans-serif;
    font-size: medium;
}
.clearfix{
    font-family: initial;
    font-variant: small-caps;
    font-weight: lighter;
}
.nav-item{
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}